<!DOCTYPE html>
<html>
<head>
  <title>Rodos</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <% if user_signed_in? %>
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '377463792337692',
        status     : true,
        cookie     : true,
        xfbml      : true
      });
      FB.getLoginStatus(function(response) {
        if(response.status === 'connected') {
          FB.api('/me/groups', function(response) {
            $.each(response.data, function(index, value) {
              FB.api('/'+value.id+'/members', function(response) {
                $.each(response.data, function(index, value) {
                  console.log(value.email);
            	});
              });
            });
          });
        }
      });
    };
    (function(d, debug){
       var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement('script'); js.id = id; js.async = true;
       js.src = "//connect.facebook.net/pl_PL/all" + (debug ? "/debug" : "") + ".js";
       ref.parentNode.insertBefore(js, ref);
     }(document, false));
  </script>
  <% end %>
  
  <header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "rodos", '#', class: "brand" %>
        
        <div id="user-nav">
          <div class="btn-group pull-right">
          <% if user_signed_in? %>
            <%= button_to "Sign out #{current_user.email}", destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
          <% end %>
            </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>
      
      <div id="statics"></div>
      
      <%= yield %>
    <footer>
      <a class="signature" href="http://msiwek.com" target="_">
        <span class="first">Michał</span>
        <span class="second">Siwek</span>
      </a>
    </footer>
  </div>
</body>
</html>
